body {
    background-color: black;
}
h1, p {
    color: white;
    text-align: center;
    text-transform: uppercase;
}
h1{
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
}
img {
    border: solid 5px white;
    width:100%;
}
div {
    width: 50%;
    margin-left: 25%;
    margin-top: 15%;
}